---
global:
  contrail_env:
    CONTROLLER_NODES: {{ CONTROLLER_NODES }}
    LOG_LEVEL: SYS_DEBUG
    CONFIG_NODEMGR__DEFAULTS__minimum_diskGB: "5"
    DATABASE_NODEMGR__DEFAULTS__minimum_diskGB: "5"
  images:
    tags:
      cassandra: "{{ CONTRAIL_REGISTRY }}/contrail-external-cassandra:{{ CONTAINER_TAG }}"
      kafka: "{{ CONTRAIL_REGISTRY }}/contrail-external-kafka:{{ CONTAINER_TAG }}"
      zookeeper: "{{ CONTRAIL_REGISTRY }}/contrail-external-zookeeper:{{ CONTAINER_TAG }}"
      rabbitmq: "{{ CONTRAIL_REGISTRY }}/contrail-external-rabbitmq:{{ CONTAINER_TAG }}"
      config_api: "{{ CONTRAIL_REGISTRY }}/contrail-controller-config-api:{{ CONTAINER_TAG }}"
      config_devicemgr: "{{ CONTRAIL_REGISTRY }}/contrail-controller-config-devicemgr:{{ CONTAINER_TAG }}"
      config_schema_transformer: "{{ CONTRAIL_REGISTRY }}/contrail-controller-config-schema:{{ CONTAINER_TAG }}"
      config_svcmonitor: "{{ CONTRAIL_REGISTRY }}/contrail-controller-config-svcmonitor:{{ CONTAINER_TAG }}"
      contrail_control: "{{ CONTRAIL_REGISTRY }}/contrail-controller-control-control:{{ CONTAINER_TAG }}"
      control_dns: "{{ CONTRAIL_REGISTRY }}/contrail-controller-control-dns:{{ CONTAINER_TAG }}"
      control_named: "{{ CONTRAIL_REGISTRY }}/contrail-controller-control-named:{{ CONTAINER_TAG }}"
      nodemgr: "{{ CONTRAIL_REGISTRY }}/contrail-nodemgr:{{ CONTAINER_TAG }}"
      webui_middleware: "{{ CONTRAIL_REGISTRY }}/contrail-controller-webui-job:{{ CONTAINER_TAG }}"
      webui: "{{ CONTRAIL_REGISTRY }}/contrail-controller-webui-web:{{ CONTAINER_TAG }}"
      analytics_alarm_gen: "{{ CONTRAIL_REGISTRY }}/contrail-analytics-alarm-gen:{{ CONTAINER_TAG }}"
      analytics_api: "{{ CONTRAIL_REGISTRY }}/contrail-analytics-api:{{ CONTAINER_TAG }}"
      analytics_query_engine: "{{ CONTRAIL_REGISTRY }}/contrail-analytics-query-engine:{{ CONTAINER_TAG }}"
      analytics_snmp_collector: "{{ CONTRAIL_REGISTRY }}/contrail-analytics-snmp-collector:{{ CONTAINER_TAG }}"
      contrail_collector: "{{ CONTRAIL_REGISTRY }}/contrail-analytics-collector:{{ CONTAINER_TAG }}"
      contrail_topology: "{{ CONTRAIL_REGISTRY }}/contrail-analytics-topology:{{ CONTAINER_TAG }}"
      build_driver_init: "{{ CONTRAIL_REGISTRY }}/contrail-vrouter-kernel-build-init:{{ CONTAINER_TAG }}"
      vrouter_agent: "{{ CONTRAIL_REGISTRY }}/contrail-vrouter-agent:{{ CONTAINER_TAG }}"
      vrouter_init_kernel: "{{ CONTRAIL_REGISTRY }}/contrail-vrouter-kernel-init:{{ CONTAINER_TAG }}"
      vrouter_dpdk: "{{ CONTRAIL_REGISTRY }}/contrail-vrouter-agent-dpdk:{{ CONTAINER_TAG }}"
      vrouter_init_dpdk: "{{ CONTRAIL_REGISTRY }}/contrail-vrouter-kernel-init-dpdk:{{ CONTAINER_TAG }}"
      node_init: "{{ CONTRAIL_REGISTRY }}/contrail-node-init:{{ CONTAINER_TAG }}"
      contrail_status: "{{ CONTRAIL_REGISTRY }}/contrail-status:{{ CONTAINER_TAG }}"
